*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background: url(./images/mainback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
}
nav{
    position:fixed;
    width:100%;
    height:4rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index:100;
}
nav :hover::after{
    left:100%;
}
.items{
    margin-top:2rem;
    margin-left:5rem;
}
#check{
    display: none;
}
.name{
    margin-left:1rem;
    font-size: 30px;
    padding-top:2rem;
    font-family: 'Crimson Text', serif;
    font-family: 'Goldman', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
    color: rgb(204, 186, 158);
}
.icon{
    position: fixed;
    font-size: 1.8rem;
    top:2rem;
    right: 5%;
    color:aliceblue;
    cursor:pointer;
    display:none;
}
nav ul{
    justify-content: center;
    list-style: none;
    padding-left: 200px;
    z-index:20;
}
nav ul li a{
    border-radius: 10px;
    padding:10px;
    text-decoration: none;
    margin:0 24px;
    font-size: 20px;
    color: antiquewhite;
}
nav a:hover{
    background-color: grey;
}
.active{
    background-color:rgb(127, 118, 167);
}
.active{
    background-color:rgb(148, 141, 181);
}
.display{
    display: flex;
    flex-direction: row;
}
.content{
    padding-top:33.5rem;
    padding-left: 1rem;
    color:aliceblue;
    line-height: 12px;
}
.content h2{
    line-height:30px;
}
/* .image{
    background-color: blue;
    position: relative;
    margin-top:17.5rem;
    margin-left: 33rem;
    top:0;
    left:0;
    width:21rem;
    height: 22rem;
    border: 2px solid rgb(163, 147, 147);
    border-radius: 50%;
    opacity:0.1;
    z-index:15;
} */
.image #mindpic{
    position: absolute;
    bottom:6px;
    right:10px;
    border-radius: 40%;
    opacity:1 important;
    z-index:20;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
/* .image .circle{
    width:25rem;
    height:20rem; 
    opacity:0.1;
} */
img{
    margin-top:15rem;
    margin-left:30rem;
    width:25rem;
    height:25rem;
    text-align: center;
    /* opacity: 0.8; */
    backdrop-filter: blur(50px);
    box-shadow: rgba(24, 20, 32, 0.06) 0px 2px 4px 0px inset;
}
@media  screen and (min-width:1310px) {
    nav ul{
        display: flex;
    }
}
@media screen and (max-width:1310px){ 
    .icon{
        display:inline-flex;
    }
    #check:checked~.icon #open{
        display: none;
    }
    #check:checked~.icon #close{
        display: block;
        font-size: 40px;
    }
    #check:checked~.items{
        height:17.7rem;
    }
    .icon #close{
        display: none;
    }
    .items{
        position:absolute;
        top:80%;
        left:4rem;
        width:80%;
        font-size: 2rem;
        margin:1.5rem 0;
        height: 0;
        background-color:rgba(161, 151, 151, 0.1);
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: .3s ease;
    }
    .items a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index:30;
    }
}
